# Sourcedata MRI files
sourcedata/

# BIDS converted MRI files
dset/

# Derivatives produced during preprocessing
derivatives/

# Miniconda python environment
.envs/

# Jupyter notebook crash files
.ipynb_checkpoints


